body {
  margin: 0;
}

.card {
  width: 300px;
  height: auto;
  margin: 10px;
  border: 5px solid coral;
  padding: 10px;
  display: inline-block;
  background-color: pink;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.card-container {
  display: block;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

h1 {
  font-family: monospace;
  color: coral;
  text-align: center;
  font-size: 60px;
  margin: 15px;
}

h3 {
  text-align: center;
  margin: 10px;
  font-family: monospace;
  color: darkslategray;
}

body {
  background-color: lightblue;
}

.card-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: palegreen;
  border-color: palegreen;
}

.card-remove {
  position: absolute;
  top: -10px;
  right: 0px;
  float: right;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.unread {
  background-color: red;
  border-color: red;
}

#dropdown-content {
  display: block;
}

#dropdown-content > button {
  width: 258px;
}

.navbar {
  background-color: darkcyan;
  overflow: hidden;
}

.navbar h1 {
  float: left;
  display: block;
  text-align: center;
}

.navbar > .search-container {
  float: right;
  margin: 30px;
}

.navbar input[type="text"] {
  height: 30px;
  width: 500px;
  border-radius: 5px;
  border: 2px solid black;
}

#dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.option-div {
  display: flex;
  width: 500px;
  border: 2px solid black;
  height: 100px;
  background-color: #f9f9f9;
}

.option-img {
  display: block;
  padding: 5px;
  border-radius: 10px;
}

.option-div:hover {
  background-color: #ddd;
}

.option-title {
  display: flex;
  align-items: center;
}
